.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

.cart-image {
  height: 200px;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .cart-image {
    height: 350px;
    width: 350px;
  }
}
